.header {

    background-color: #f7f7f7;
}

.container {
    height: 72px;
    margin: 0 auto;
    max-width: 1440px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 64px;
}

.logo {
    font-size: 24px;
    font-weight: 700;
    width: 153px;
    color: #101828;
}

.logoRight {
    color: #475467;
}

.nav {
    display: flex;
    gap: 24px;
}

.active {
    color: #829b91;
}

.empty {
    width: 153px;
}