.container {
    position: relative;
    display: grid;
    grid-template-columns: 360px 1fr;
    gap: 65px;
    width: 1440px;
    margin: 0 auto;
    padding: 48px 64px 52px 63px;
    background: #fff;
}

.loaderOverlay {
    position: fixed;
    inset: 0;
    background: rgba(223, 223, 223, 0.44);
    backdrop-filter: blur(2px);

    display: flex;
    align-items: center;
    justify-content: center;

    z-index: 1000;
}

.loaderModal {
    width: 543px;
    height: 296px;
    padding: 48px 130px;
    border-radius: 20px;
    background: white;
    text-align: center;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
}

.loaderModal h3 {
    margin-top: 20px;
    margin-bottom: 8px;
    font-weight: 600;
    font-size: 24px;
}

.loaderModal p {
    font-weight: 500;
    color: #101828;
    font-size: 16px;
}

.spinner {
    width: 72px;
    height: 72px;
    margin: 0 auto;
    border: 6px solid #f7f7f7;
    border-top-color: #6d7b75;
    border-radius: 50%;
    animation: spin 0.8s linear infinite;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}

.sidebar {
    background: #f7f7f7;
    border-radius: 20px;
    padding: 24px;
    height: fit-content;
    width: 360px;
    height: 840px;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.label {
    display: flex;
    flex-direction: column;
    gap: 8px;

    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: #6c717b;
}

.inputWrapper {
    position: relative;
}

.inputIcon {
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    color: #6c717b;
    pointer-events: none;
}

.input {
    height: 48px;
    width: 100%;
    border-radius: 12px;
    border: none;
    padding: 0 16px 0 48px;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: #101828;

}

.group {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.groupName {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: #6c717b;
}

.radio {
    display: flex;
    align-items: center;
    gap: 8px;
    text-transform: capitalize;
}

.radio input[type="radio"] {
    width: 24px;
    height: 24px;
    accent-color: #475467;
}

.searchBtn {
    height: 56px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: -0.01em;

    border: none;
    border-radius: 30px;
    background-color: #829b91;
    color: white;
    cursor: pointer;
}

.searchBtn:hover {
    background-color: #6d7b75;
}

.clearBtn {
    height: 56px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: -0.01em;
    color: #101828;

    border-radius: 30px;
    border: 1px solid #ddd;
    background: white;
    cursor: pointer;
}

.clearBtn:hover {
    border: 1px solid #6d7b75;
}

.catalog {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.emptyState {
    width: 888px;
    height: 840px;

    background: #f7f7f7;
    border-radius: 24px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    text-align: center;
    padding: 0 48px;
}

.emptyImage {
    width: 488px;
    height: auto;
    margin-bottom: 21px;
}

.emptyState h2 {
    margin-bottom: 12px;
    font-size: 32px;
    font-weight: 700;
    color: #101828;
}

.emptyState p {
    max-width: 420px;
    color: #667085;
    line-height: 1.5;
    margin-bottom: 32px;
}

.emptyActions {
    display: flex;
    gap: 16px;
}

.emptyClearBtn {
    height: 52px;
    padding: 0 24px;
    border-radius: 30px;
    border: 1px solid #d0d5dd;
    background: #fff;
    cursor: pointer;
}

.emptyViewBtn {
    height: 52px;
    padding: 0 24px;
    border-radius: 30px;
    border: none;
    background: #839c8f;
    color: #fff;
    cursor: pointer;
}

.card {
    display: flex;
    gap: 24px;
    background: #f7f7f7;
    border-radius: 24px;
    padding: 20px;
}

.image {
    width: 292px;
    height: 220px;
    object-fit: cover;
    border-radius: 16px;
}

.content {
    flex: 1;
}

.header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
}

.price {
    font-size: 28px;
    font-weight: 700;
}

.meta {
    display: flex;
    align-items: center;

    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: #101828;
    margin-bottom: 20px;
}

.metaIcon {
    width: 20px;
    height: 18px;
    margin: 0 5px 0 10px;
}

.tags {
    display: flex;
    align-items: center;
    gap: 12px;
    flex-wrap: wrap;
    margin-bottom: 24px;
}

.tags span {
    background: #eef0f2;
    padding: 10px 16px;
    border-radius: 999px;

    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    color: #101828;
    text-transform: capitalize;
}

.tagsFuel {
    width: 22px;
    height: 33px;
    margin: 0 5px 0 10px;
    vertical-align: middle;
}

.tagsDiagram {
    width: 30px;
    height: 22px;
    margin: 0 5px 0 10px;
    vertical-align: middle;
}

.tagsCar {
    width: 30px;
    height: 25px;
    margin: 0 5px 0 10px;
    vertical-align: middle;
}

.moreBtn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 140px;
    height: 48px;
    border-radius: 30px;
    background-color: #829b91;
    color: white;
    text-decoration: none;
}

.moreBtn:hover {
    background-color: #6d7b75;
}

.loadMore {
    width: 160px;
    height: 52px;
    margin: 20px auto 0;
    border-radius: 30px;
    background: white;
    border: 1px solid #ddd;
    cursor: pointer;
}

.loadMore:hover {
    border: 1px solid #6d7b75;
}