.wrapper {
    max-width: 1440px;
    margin: 0 auto;
    padding: 64px;
    display: flex;
    flex-direction: column;
    gap: 88px;
}

.topSection {
    display: flex;
    gap: 24px;
    align-items: center;
}

.galleryBlock {
    width: 644px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}



:global(.swiper) {
    width: 100%;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
}

:global(.swiper-slide) {
    background-size: cover;
    background-position: center;
}

:global(.mySwiper2) {
    height: 80%;
    width: 100%;
    border-radius: 17px;
}

:global(.mySwiper) {
    height: 20%;
    box-sizing: border-box;
    padding: 10px 0;
}

:global(.mySwiper .swiper-slide) {
    width: 25%;
    height: 100%;
    opacity: 0.4;
    border-radius: 16px;
}

:global(.mySwiper img) {
    border-radius: 13px;
}

:global(.mySwiper .swiper-slide-thumb-active) {
    opacity: 1;
    border: 3px solid #829b91;
}

:global(.swiper-slide img) {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.infoCard {
    width: 644px;
    background: #f8f8f8;
    border-radius: 20px;
    padding: 32px;
    display: flex;
    flex-direction: column;
}

.infoCard h1 {
    font-size: 32px;
    margin-bottom: 12px;
}

.meta {
    display: flex;
    align-items: center;

    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: #101828;
}

.metaIcon {
    width: 20px;
    height: 18px;
    margin: 0 5px 0 13px;
}

.price {
    font-size: 32px;
    font-weight: 700;
    margin: 24px 0;
}

.description {
    line-height: 1.6;
}

.details {
    margin-top: 32px;
}

.tags {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin: 20px 0;
}

.tags span {
    background: #ececec;
    padding: 10px 16px;
    border-radius: 20px;
}

.specRow {
    display: flex;
    justify-content: space-between;
    padding: 12px 0;
    border-bottom: 1px solid #e5e7eb;
}

.bottomSection {
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-items: flex-start;
}

.review {
    display: flex;
    gap: 48px;
    align-items: flex-start;
}

.reviews {
    flex: 1;
    display: flex;
    flex-direction: column;
    width: 623px;

    gap: 24px;
}

.reviewCard {
    background: #f8f8f8;
    border-radius: 16px;
    padding: 24px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.reviewName {
    display: flex;
    gap: 10px;
}

.avatar {
    width: 60px;
    height: 60px;
    border-radius: 60px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    font-size: 24px;
    line-height: 1.33333;
    color: #829b91;
}

.stars {
    color: #ffc531;
    margin: 6px 0;
}

.reviewComment {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: #475467;
}

.booking {
    width: 641px;
    background: #ffffff;
    padding: 44px;
    border-radius: 32px;
    border: 1px solid #eaeaea;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.booking h2 {
    font-size: 24px;
    font-weight: 600;
    color: #101828;
    margin: 0;
}

.formSubtitle {
    font-size: 16px;
    color: #475467;
    margin: -12px 0 12px 0 !important;
}

.inputWrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.inputWrapper input {
    width: 100%;
    padding: 18px 48px 18px 18px;
    font-size: 16px;
    background-color: #f7f7f7;
    border: 1px solid transparent;
    border-radius: 12px;
    color: #101828;
    outline: none;
    box-sizing: border-box;
    transition: all 0.2s ease-in-out;
}

.fieldLabel {
    position: absolute;
    top: -9px;
    left: 16px;
    font-size: 12px;
    background: #ffdfdf;
    padding: 0 4px;
    color: #e44848;
    z-index: 2;
    display: none;
}

.inputError .fieldLabel {
    display: block;
}

.inputError input {
    background-color: #ffdfdf;
    border: 1px solid #e44848;
    color: #101828;
    font-weight: 500;
    font-size: 16px;
}

.errorIcon {
    position: absolute;
    right: 16px;
    top: 18px;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: none;
}

.errorMessage {
    font-size: 14px;
    color: #e44848;
    margin: 6px 0 0 4px !important;
    text-align: left;
}

.booking button {
    background: #829b91;
    color: #ffffff;
    border: none;
    padding: 16px;
    border-radius: 100px;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    transition: background 0.2s ease;
    margin-top: 8px;
    width: 100%;
}

.booking button:hover:not(:disabled) {
    background: #6d7b75;
}

.booking button:disabled {
    background: #b1c2ba;
    cursor: not-allowed;
}

.loading {
    padding: 100px;
    text-align: center;
}